body {

    
    background-image: url("home.png");
    background-size: cover;
}

  #Welcome {
    color: rgb(128, 72, 72);
    text-align: center;
  }
  
  h2{
    color: rgb(115, 115, 196);
    text-align: center;
  }
